In [2]:
import pandas as pd

In [3]:
us_weather = pd.DataFrame({
    "city": ["new york","chicago","orlando"],
    "temperature": [21,14,35],
    "humidity": [68, 65, 75]
})
us_weather

       city  temperature  humidity
0  new york           21        68
1   chicago           14        65
2   orlando           35        75

In [5]:
import pandas as pd

india_weather = pd.DataFrame({
    "city": ["mumbai","delhi","banglore"],
    "temperature": [32,45,30],
    "humidity": [80, 60, 78]
})
india_weather

       city  temperature  humidity
0    mumbai           32        80
1     delhi           45        60
2  banglore           30        78

In [11]:
df = pd.concat([india_weather, us_weather])
df.loc[0]

       city  temperature  humidity
0    mumbai           32        80
0  new york           21        68

In [13]:
df = pd.concat([india_weather, us_weather],ignore_index=True)
df

       city  temperature  humidity
0    mumbai           32        80
1     delhi           45        60
2  banglore           30        78
3  new york           21        68
4   chicago           14        65
5   orlando           35        75

In [14]:
df1 = pd.DataFrame({
    "city": ["new york","chicago","orlando"],
    "temperature": [21,14,35],
})
df1

       city  temperature
0  new york           21
1   chicago           14
2   orlando           35

In [15]:
df2 = pd.DataFrame({
    "city": ["chicago","new york","orlando"],
    "humidity": [65,68,75],
})
df2

       city  humidity
0   chicago        65
1  new york        68
2   orlando        75

In [16]:
pd.merge(df1, df2)

       city  temperature  humidity
0  new york           21        68
1   chicago           14        65
2   orlando           35        75

In [19]:
pd.merge(df1, df2,on="city")

       city  temperature  humidity
0  new york           21        68
1   chicago           14        65
2   orlando           35        75

In [23]:
df1 = pd.DataFrame({
    "city": ["new york","chicago","orlando","baltimore"],
    "temperature": [21,14,35,54],
})
df2 = pd.DataFrame({
    "city": ["san jose","new york","orlando"],
    "humidity": [65,68,75],
})

In [28]:
pd.merge(df1, df2,how="outer")

        city  temperature  humidity
0  baltimore         54.0       NaN
1    chicago         14.0       NaN
2   new york         21.0      68.0
3    orlando         35.0      75.0
4   san jose          NaN      65.0