## <font color="maroon"><h4 align="center">Read/Write CSV and Excel Files (Exercise)</font>

In [1]:
import pandas as pd

### <font color="purple">**Question1**</font>
- Read the csv file with name "movies_data.csv"
- Show the Top5 rows

In [4]:
#read the csv file into the variable 'df'
df = pd.read_csv('movies_data.csv')

#show the top 5 rows
df.head()

,movie_id,title,industry,language,release_year,imdb_rating,studio,budget,revenue,unit,currency
0,101,K.G.F: Chapter 2,Bollywood,Kannada,2022,8.4,Hombale Films,1.0,12.5,Billions,INR
1,102,Doctor Strange in the Multiverse of Madness,Hollywood,English,2022,7.0,Marvel Studios,200.0,954.8,Millions,USD
2,103,Thor: The Dark World,Hollywood,English,2013,6.8,Marvel Studios,165.0,644.8,Millions,USD
3,104,Thor: Ragnarok,Hollywood,English,2017,7.9,Marvel Studios,180.0,854.0,Millions,USD
4,105,Thor: Love and Thunder,Hollywood,English,2022,6.8,Marvel Studios,250.0,670.0,Millions,USD

### <font color="purple">**Question2**</font>
- Add a new column "year_classify" to the above dataframe.
- If release_year is less than 2000, then 'before 2000' or else 'From 2000'

In [11]:
#add the column "year_classify"
df['year_classify'] = df.release_year.apply(lambda x: "before 2000" if x <2000 else "From 2000" )

#show the df
df.head()
df.sample(5)

,movie_id,title,industry,language,release_year,imdb_rating,studio,budget,revenue,unit,currency,year_classify
33,127,Pather Panchali,Bollywood,Bengali,1955,8.3,Government of West Bengal,70000.00,100000.0,Thousands,INR,before 2000
17,125,Avengers: Endgame,Hollywood,English,2019,8.4,Marvel Studios,400.00,2798.0,Millions,USD,From 2000
32,140,Shershaah,Bollywood,Hindi,2021,8.4,Dharma Productions,500.00,950.0,Millions,INR,From 2000
10,118,It's a Wonderful Life,Hollywood,English,1946,8.6,Liberty Films,3.18,3.3,Millions,USD,before 2000
8,116,Gladiator,Hollywood,English,2000,8.5,Universal Pictures,103.00,460.5,Millions,USD,From 2000

### <font color="purple">**Question3**</font>

- Save the above dataframe with the name "final_movie_data.csv" and include only columns 'movie_id', 'title', 'budget', 'revenue' and 'year_classify'. Also set index to False**.

In [5]:
#save the dataframe
df.to_csv('final_movie_data.csv',columns=['movie_id', 'title', 'budget', 'revenue','year_classify'],index=False)